{%extends 'base.html'%}
{%block contents%}
<body>
{%for post in posts.all%}
<br>

      <div class="container">
            <div class="card">
                <div class="card-body">
                 <h5 class="card-title">{{post.title}}</h5>
                 <h6 class="card-subtitle mb-2 text-muted">작성시간 : {{post.pubdate}}</h6>
                 <p class="card-text">{{post.summary}}</p>
                 <a href="{%url 'detail' post.id%}" class="card-link">...more</a>
                 <br>
                </div>
            </div>
        </div>                
{%endfor%}

</body>
{%endblock%}
