{%extends 'base.html'%}
{%block contents%}
<body>
{%for post in blogs%}
<br>

      <div class="container">
            <div class="card">
                <div class="card-body">
                 <h5 class="card-title">{{post.title}}</h5>
                 <h6 class="card-subtitle mb-2 text-muted">작성시간 : {{post.pubdate}}</h6>
                 <p class="card-text">{{post.summary}}</p>
                 <a href="{%url 'detail' post.id%}" class="card-link">...more</a>
                 <br>
                </div>
            </div>
        </div>                
{%endfor%}

{%if blogs.has_previous%}
<a href="?page=1">First</a>
<a href="?page={{blogs.previous_page_number}}">Previous</a>
{%endif%}
<span>{{blogs.number}} </span>
<span>of</span>
<span>{{blogs.paginator.num_pages}}</span>
{%if blogs.has_next%}
<a href="?page={{blogs.next_page_number}}">Next</a>
<a href="?page={{blogs.paginator.num_pages}}">Last</a>
{%endif%}

</body>
{%endblock%}
